<html>
	<head>
		<style>
			body {
				width: 500px;
				margin: auto;
			}
			body td {
				display: flex;
				justify-content: center;
			}
			.container {
				padding-top: 50px;
			}

			.section-1 {
				width: 100%;
				padding: 5px 0;
				border-top: solid 2px;
				border-bottom: solid 2px;
				margin-top: 20px;
			}

			.section-1 > div {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: black;
				color: white;
				padding: 10px 0;
			}

			.section-2 {
				width: 380px;
				background-color: whitesmoke;
				margin-top: 25px;
				text-align: center;
				padding: 0 60px;
				padding-bottom: 40px;
			}

			.section-2 > h1 {
				font-size: 40px;
			}

			.section-2 > p {
				font-size: 30px;
			}

			.section-2 a {
				text-decoration: underline;
				color: black;
			}

			.container button {
				background-color: #dc9f95;
				width: 100%;
				margin: 30px 0;
				border: solid 0.5px;
				padding: 3px;
			}

			.container button > h1 {
				border: solid 2px;
				padding: 20px;
				margin: 0;
			}

			.container button > h1 > a {
				color: black;
				text-decoration: underline;
			}

			.section-3 {
				font-size: 20px;
				background-color: black;
				color: white;
				text-align: center;
				height: auto;
				padding-bottom: 20px;
			}

			.section-3 button {
				width: max-content;
				color: white;
				background-color: black;
				border: solid 1px white;
				text-decoration: underline;
				padding: 7px 20px;
				font-size: 18px;
				font-weight: bold;
			}

			.section-3 button a{
				color: white
			}

			footer {
				display: flex;
				justify-content: center;
				width: 500px;
				margin: auto;
			}

			footer > p {
				margin: 30px 10px;
				padding: 30px;
				font-size: 20px;
				border-top: solid 1px gray;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<table class="container">
			<tr>
				<td>
					<img width="200px" src="{{api}}/assets/logo.png" />
				</td>
			</tr>
			<tr>
				<td>
					<div class="section-1">
						<div>
							<h1>Olvidaste tu contraseña</h1>
							<img width="12%" src="{{api}}/assets/candado.png" />
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="section-2">
						<h1>{{name}}</h1>
						<p>
							Al parecer has olvidado tu contraseña de Toulouse. Para
							recuperarla debes ingresar en el siguiente
							<a href="{{url}}">enlace</a> y crear una contraseña nueva
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<button>
						<h1>
							<a href="{{url}}">CLIC PARA RESTABLECER CONTRASEÑA</a>
						</h1>
					</button>
				</td>
			</tr>
			<tr>
				<td>
					<div class="section-3">
						<img loading="lazy" width="500px" src="{{api}}/assets/image-recovery.jpg" />
						<div>
							<h1>Llévate los mejores precios</h1>
							<button><a href="{{catalog}}">CLIC AQUÍ</a></button>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</section>
	<footer>
		<p>
			Si tienes alguna pregunta, contáctanos a través de la linea WhatsApp
			31023456789
		</p>
	</footer>
</html>
